<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">



	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="~/assets/css/feather.css">

	<!-- Fancybox CSS -->
	<link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/assets/css/custom.css">

</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		
		<header class="header header-fixed header-one">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a asp-action="Index" asp-controller="Pharmacist" class="navbar-brand logo">
							<img src="~/Images/websiteLogo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="~/Images/websiteLogo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu ">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a asp-action="Index" asp-controller="Pharmacist">Home</a></li>
								</ul>
							</li>
							<li class="has-submenu ">
								<a href="javascript:void(0);">View<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a asp-action="Index" asp-controller="Pharmacist">Dashboard</a></li>
									

								</ul>
							</li>


							<li class="has-submenu">
								<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>

								</ul>
							</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">


						<!-- Notifications -->
						<li class="nav-item dropdown noti-nav me-3 pe-0">
							<a href="#" class="dropdown-toggle nav-link p-0" data-bs-toggle="dropdown">
								<i class="fa-solid fa-bell"></i> <span class="badge">0</span>
							</a>
							<div class="dropdown-menu notifications dropdown-menu-end ">
								<div class="topnav-dropdown-header">
									<span class="notification-title">Notifications</span>
								</div>
								<div class="noti-content">
									<ul class="notification-list">
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar">
														<img class="avatar-img" alt="" src="~/assets/img/clients/client-01.jpg">
													</span>
													<div class="media-body">
														<h6>Travis Tremble <span class="notification-time">18.30 PM</span></h6>
														<p class="noti-details">No notification yet.<span class="noti-title">Dr.Ruby perin </span></p>
													</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<!-- /Notifications -->
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
								<span class="user-img">
									<i class="fa-solid fa-user-doctor fa-beat-fade fa-xl" style="color: #4d8eff;"></i>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<i class="fa-solid fa-user-doctor"></i>
									</div>
									<div class="user-text">
										<h6>Roro</h6>
										<p class="text-muted mb-0">Pharmacist</p>
									</div>
								</div>
								<a class="dropdown-item" href="doctor-dashboard.html">Profile</a>
								<a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
								<a class="dropdown-item" href="login.html">Sign out</a>
							</div>
						</li>
						<!-- /User Menu -->

					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->
		<!-- Breadcrumb -->
		<div class="breadcrumb-bar-two">
			<div class="container">
				<div class="row align-items-center inner-banner">
					<div class="col-md-12 col-12 text-center">
						<h2 class="breadcrumb-title">Cart</h2>
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a asp-controller="Pharmacist" asp-action="Index">Home</a></li>
								<li class="breadcrumb-item" aria-current="page">Dashboard</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->
		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="card card-table">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Product</th>
										<th>Price</th>
										<th class="text-center">Quantity</th>
										<th class="text-center">Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="product-description.html" class="avatar avatar-sm me-2"><img class="avatar-img" src="~/assets/img/products/product.jpg" alt="User Image"></a>
											</h2>
											<a href="product-description.html">Benzaxapine Croplex</a>
										</td>
										<td>26565</td>
										<td>$19</td>
										<td class="text-center">
											<div class="custom-increment cart">
												<div class="input-group1">
													<span class="input-group-btn">
														<button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
															<span><i class="fas fa-minus"></i></span>
														</button>
													</span>
													<input type="text" id="quantity1" name="quantity1" class=" input-number" value="10">
													<span class="input-group-btn">
														<button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
															<span><i class="fas fa-plus"></i></span>
														</button>
													</span>
												</div>
											</div>
										</td>
										<td class="text-center">$19</td>
										<td class="text-end">
											<div class="table-action">
												<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
													
													<i class="fas fa-times"></i>
												</a>
												<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
													<i class="fas fa-times"></i>
													</a>
											</div>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /Page Content -->
		<!-- Footer -->
		<footer class="footer footer-one">
	<div class="footer-top aos" data-aos="fade-up">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget footer-about">
						<div class="footer-logo">
							<img src="~/Images/websiteLogo.png" alt="logo">
						</div>
						<div class="footer-about-content">
							<p>Don't waste your time, join MedApp family now and make your life easier.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">For Patients</h2>
						<ul>
							<li><a href="search.html">Search for Doctors</a></li>
							<li><a href="login.html">Login</a></li>
							<li><a href="register.html">Register</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">For Doctors</h2>
						<ul>
							<li><a href="appointments.html">Join Us</a></li>
							<li><a href="login.html">Login</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-5">
					<div class="footer-widget footer-contact">
						<h2 class="footer-title">Contact Us</h2>
						<div class="footer-contact-info">



							<div class="footer-address">
								<p><i class="feather-phone-call"></i> +962 79 5697908</p>
							</div>
							<div class="footer-address mb-0">
								<p><i class="feather-mail"></i> medapp@example.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-7">
					<div class="footer-widget">
						<h2 class="footer-title">Have a problem? let us contact you</h2>
						<div class="subscribe-form">
							<form action="#">
								<input type="email" class="form-control" placeholder="Enter Email">
								<button type="submit" class="btn">Submit</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="copyright-text">
							<p class="mb-0"> Copyright © 2023  All Rights Reserved</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">



						<!-- Copyright Menu -->
						<div class="copyright-menu">
							<ul class="policy-menu">
								<li><a href="privacy-policy.html">Privacy Policy</a></li>
								<li><a href="terms-condition.html">Terms and Conditions</a></li>
							</ul>
						</div>
						<!-- /Copyright Menu -->



					</div>
				</div>
			</div>
			<!-- /Copyright -->
		</div>
	</div>
</footer>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/assets/js/jquery-3.6.4.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Fancybox JS -->
	<script src="~/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

	<!-- Custom JS -->
	<script src="~/assets/js/script.js"></script>

</body>
</html>