@model MedAppProject.Models.Doctor;
<div class="profile-sidebar">
	<div class="widget-profile pro-widget-content">
		<div class="profile-info-widget">
			<a href="#" class="booking-doc-img">
				<img src="~/Images/drImage.png" alt="User Image">
			</a>
			<div class="profile-det-info">
				<h3>Dr. @Model.FirstName @Model.LastName</h3>

				<div class="patient-details">
					<h5 class="mb-0">@Model.DoctorSpecialization.Name.ToString()</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="dashboard-widget">
		<nav class="dashboard-menu">
			<ul>
				<li id="dashbord">
					<a asp-action="Index" asp-controller="Doctor">
						<i class="fas fa-columns"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li id="appointments">
					<a asp-action="Index" asp-controller="Doctor">
						<i class="fas fa-calendar-check"></i>
						<span>Appointments</span>
					</a>
				</li>
				<li>
					<a asp-action="MyPatients" asp-controller="Doctor">
						<i class="fas fa-user-injured"></i>
						<span>My Patients</span>
					</a>
				</li>
				<li>
					<a asp-controller="Doctor" asp-action="AddAvailableTimes" asp-route-id="@Model.Id">
						
						<i class="fas fa-hourglass-start"></i>
						<span>Schedule Timings</span>
					</a>
				</li>
				<li>
					<a href="doctor-profile-settings.html">
						<i class="fas fa-user-cog"></i>
						<span>Profile Settings</span>
					</a>
				</li>
				<li>
					<a href="index.html">
						<i class="fas fa-sign-out-alt"></i>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<script>
	$(document).ready(function () {
		var currentUrl = window.location.href;

		// Remove the active class from all sidebar items
		$('.dashboard-menu li').removeClass('active');

		// Add the active class to the corresponding sidebar item based on the current URL
		if (currentUrl.includes('Views/Doctor/Index')) {
			$('#dashboard').addClass('active');
		} else if (currentUrl.includes('Views/Doctor/Appointments')) {
			$('#appointments').addClass('active');
		}
		// Add similar conditions for other sidebar items
	});
</script>
