@model MedAppProject.Models.Doctor;
<div>@Model.FirstName</div>
<ul>
    @foreach(var x in Model.Appointments)
        {
            <li>@x.patient.FirstName  @x.bookTime.ToString()</li>
        }
</ul>
<form asp-controller="Doctor" asp-action="spesificDate">
    <input type="date" id="datePicker" name="date"/>
    <input type="submit" class="btn btn-primary"/>
</form>



