
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>@ViewData["Title"] - MedAppProject</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	
	<!-- Bootstrap CSS -->
	
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
	<!-- Fontawesome CSS -->

	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css" />
	
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css" />
	<!-- Feathericon CSS -->
	
	<link rel="stylesheet" href="~/assets/css/feather.css" />
	<!-- Main CSS -->

	<link rel="stylesheet" href="~/assets/css/custom.css"/>
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		@Html.Partial("/Views/Doctor/NavBar.cshtml")
		<!-- /Header -->
		<!-- Breadcrumb -->
		<div class="breadcrumb-bar-two">
			<div class="container">
				<div class="row align-items-center inner-banner">
					<div class="col-md-12 col-12 text-center">
						<h2 class="breadcrumb-title">My Patients</h2>
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Doctor">Home</a></li>
								<li class="breadcrumb-item" aria-current="page">My Patients</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->
		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

						<!-- Profile Sidebar -->
						@Html.Partial("/Views/Doctor/DoctorSideBar.cshtml")
						<!-- /Profile Sidebar -->

					</div>
					<div class="col-md-7 col-lg-8 col-xl-9">

						<div class="row row-grid">
							<div class="col-md-6 col-lg-4 col-xl-3">
								<div class="card widget-profile pat-widget-profile">
									<div class="card-body">
										<div class="pro-widget-content">
											<div class="profile-info-widget">
												<a asp-action="PatientProfile" asp-controller="Doctor" class="booking-doc-img">
													<img src="~/Images/patient.png" alt="User Image">
												</a>
												<div class="profile-det-info">
													<h3><a asp-action="PatientProfile" asp-controller="Doctor">Richard Wilson</a></h3>

													<div class="patient-details">
														<h5><b>Patient ID :</b> P0016</h5>
														<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Alabama, USA</h5>
													</div>
												</div>
											</div>
										</div>
										<div class="patient-info">
											<ul>
												<li>Phone <span>+1 952 001 8563</span></li>
												<li>Age <span>38 Years, Male</span></li>
												<li>Blood Group <span>AB+</span></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							

							
						</div>

					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->
		<!-- Footer -->
		@Html.Partial("/Views/Doctor/Footer.cshtml")
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/assets/js/jquery-3.6.4.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Custom JS -->
	<script src="~/assets/js/script.js"></script>

</body>
</html>