@model MedAppProject.Models.Doctor;
<header class="header header-fixed header-one">
	<div class="container">
		<nav class="navbar navbar-expand-lg header-nav">
			<div class="navbar-header">
				<a id="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				<a asp-action="Index" asp-controller="Doctor" class="navbar-brand logo">
					<img src="~/Images/websiteLogo.png" class="img-fluid" alt="Logo">
				</a>
			</div>
			<div class="main-menu-wrapper">
				<div class="menu-header">
					<a asp-action="Index" asp-controller="Doctor" class="menu-logo">
						<img src="~/Images/websiteLogo.png" class="img-fluid" alt="Logo">
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
				</div>
				<ul class="main-nav">
					<li class="has-submenu ">
						<a href="">Home <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a asp-action="Index" asp-controller="Doctor">Home</a></li>
						</ul>
					</li>
					<li class="has-submenu ">
						<a href="javascript:void(0);">View<i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a asp-action="Index" asp-controller="Doctor">Dashboard</a></li>
							<li ><a asp-action="Appointments" asp-controller="Doctor">My Appointments</a></li>
							<li><a asp-action="MyPatients" asp-controller="Doctor">My Patients</a></li>
							<li><a asp-action="AddAvailableTimes" asp-controller="Doctor" asp-route-id="@Model.Id">Add available time</a></li>

						</ul>
					</li>


					<li class="has-submenu">
						<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu">
							<li><a href="about-us.html">About Us</a></li>
							<li><a href="contact-us.html">Contact Us</a></li>

						</ul>
					</li>
				</ul>
			</div>
			<ul class="nav header-navbar-rht">







				<!-- Notifications -->
				<li class="nav-item dropdown noti-nav me-3 pe-0">
					<a href="#" class="dropdown-toggle nav-link p-0" data-bs-toggle="dropdown">
						<i class="fa-solid fa-bell"></i> <span class="badge">0</span>
					</a>
					<div class="dropdown-menu notifications dropdown-menu-end ">
						<div class="topnav-dropdown-header">
							<span class="notification-title">Notifications</span>
						</div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="media d-flex">
											<span class="avatar">
												<img class="avatar-img" alt="" src="assets/img/clients/client-01.jpg">
											</span>
											<div class="media-body">
												<h6>Travis Tremble <span class="notification-time">18.30 PM</span></h6>
												<p class="noti-details">No notification yet.<span class="noti-title">Dr.Ruby perin </span></p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<!-- /Notifications -->
				<!-- User Menu -->
				<li class="nav-item dropdown has-arrow logged-item">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<span class="user-img">
							<i class="fa-solid fa-user-doctor fa-beat-fade fa-xl" style="color: #4d8eff;"></i>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<div class="user-header">
							<div class="avatar avatar-sm">
								<i class="fa-solid fa-user-doctor"></i>
							</div>
							<div class="user-text">
								<h6>Darren Elder</h6>
								<p class="text-muted mb-0">Doctor</p>
							</div>
						</div>
						<a class="dropdown-item" asp-action="Index" asp-controller="Doctor">Profile</a>
						<a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
						<a class="dropdown-item" asp-action="Logout" asp-controller="Access">Sign out</a>
					</div>
				</li>
				<!-- /User Menu -->

			</ul>
		</nav>
	</div>
</header>