<!DOCTYPE html>
@{
	Layout = null;
}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<!-- Favicons -->
	<link href="~/assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="~/assets/css/feather.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/assets/css/custom.css">

</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->

		<header class="header header-fixed header-one">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="~/Images/websiteLogo.png" class="img-fluid" alt="Logo" width="201px" height="100px">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="~/Images/websiteLogo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu ">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Reservations<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="">Lab reservations</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Search<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="">Search doctor </a></li>
									<li><a href="">Search Lab </a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Patient<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="">Profile</a></li>
									<li><a href="">Edit profile</a></li>
								</ul>
							</li>



							<li class="has-submenu">
								<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">

						<!-- Cart -->
						<!-- /Cart -->
						<!-- Notifications -->
						<li class="nav-item dropdown noti-nav me-3 pe-0">
							<a href="#" class="dropdown-toggle nav-link p-0" data-bs-toggle="dropdown">
								<i class="fa-solid fa-bell"></i> <span class="badge">0</span>
							</a>
							<div class="dropdown-menu notifications dropdown-menu-end ">
								<div class="topnav-dropdown-header">
									<span class="notification-title">Notifications</span>
								</div>
								<div class="noti-content">
									<ul class="notification-list">
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar">
														<i class="fa-solid fa-bell fa-fade fa-2xl" style="color: #6f9deb;"></i>
													</span>
													<div class="media-body">
														<h6>Travis Tremble <span class="notification-time">Time and Date</span></h6>
														<p class="noti-details">No notification yet.<span class="noti-title"></span></p>
													</div>
												</div>
											</a>
										</li>

									</ul>
								</div>
							</div>
						</li>
						<!-- /Notifications -->
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
								<span class="user-img">
									<i class="fa-solid fa-user fa-beat-fade fa-xl" style="color: #5189ec;"></i>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<i class="fa-solid fa-user fa-lg" style="color: #5189ec;"></i>
									</div>
									<div class="user-text">
										<!--Fill here-->	<h6>Patient Name</h6>
									</div>
								</div>
								<a class="dropdown-item" href="doctor-dashboard.html">Profile</a>
								<a class="dropdown-item" href="profile-settings.html">Profile Settings</a>
								<a class="dropdown-item" href="login.html">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->

					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->
		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="invoice-content">
							<div class="invoice-item">
								<div class="row">
									<div class="col-md-6">
										<div class="invoice-logo">
											<img src="~/Images/websiteLogo.png" alt="logo">
										</div>
									</div>
									<div class="col-md-6">
										<p class="invoice-details">
											<strong>Order:</strong> #01 <br>
											<strong>Issued:</strong>dd/00/year<br>
											<strong>From Doctor:</strong><a href="" style="color:dodgerblue;text-decoration:underline">Doctor Name</a><br>

										</p>
									</div>
								</div>
							</div>


							<div class="invoice-item invoice-table-wrap">
								<div class="row">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="invoice-table table table-bordered">
												<thead>
													<tr>
														<th>Description</th>
														<th class="text-center">Quantity</th>
														<th class="text-end">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>General Consultation</td>
														<td class="text-center">1</td>
														<td class="text-end">10</td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-md-6 col-xl-4 ms-auto">
										<div class="table-responsive">
											<table class="invoice-table-two table">
												<tbody>
													<tr>
														<th>Subtotal:</th>
														<td><span>10</span></td>
													</tr>
													<tr>
														<th>Total Amount:</th>
														<td><span>10 JOD</span></td>
													</tr>
													<tr>
														
													</tr>
												</tbody>
											</table>
											<div class="table-action">
												<a href=" " class="btn btn-sm bg-primary-light">
													<i class="" style="color: #4d81db;width:100px;font-size:25px"></i> Order it
												</a>

											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->
		<!-- Footer -->
		@Html.Partial("/Views/Patient/Footer.cshtml")
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/assets/js/jquery-3.6.4.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Custom JS -->
	<script src="~/assets/js/script.js"></script>

</body>
</html>