<!DOCTYPE html>
@{
	Layout = null;
}
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="/assets/css/feather.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">

	<!-- Jquery CSS -->
	<link rel="stylesheet" href="/assets/plugins/jquery-ui/jquery-ui.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/custom.css">

</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header header-fixed header-one">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="~/assets/img/websiteLogo.png" class="img-fluid" alt="Logo" width="201px" height="100px">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="~/assets/img/websiteLogo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu ">
								<a href="">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="index.html">Home</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Reservations<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="">Doctor reservation</a></li>
									<li><a href="">Lab reservations</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Search<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="">Search doctor </a></li>
									<li><a href="">Search Lab </a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Patient<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="">Profile</a></li>
									<li><a href="">Edit profile</a></li>
								</ul>
							</li>



							<li class="has-submenu">
								<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
								</ul>
							</li>
					</div>
					<ul class="nav header-navbar-rht">

						<!-- Cart -->
						<!-- /Cart -->
						<!-- Notifications -->
						<li class="nav-item dropdown noti-nav me-3 pe-0">
							<a href="#" class="dropdown-toggle nav-link p-0" data-bs-toggle="dropdown">
								<i class="fa-solid fa-bell"></i> <span class="badge">0</span>
							</a>
							<div class="dropdown-menu notifications dropdown-menu-end ">
								<div class="topnav-dropdown-header">
									<span class="notification-title">Notifications</span>
								</div>
								<div class="noti-content">
									<ul class="notification-list">
										<li class="notification-message">
											<a href="#">
												<div class="media d-flex">
													<span class="avatar">
														<i class="fa-solid fa-bell fa-fade fa-2xl" style="color: #6f9deb;"></i>
													</span>
													<div class="media-body">
														<h6>Travis Tremble <span class="notification-time">Time and Date</span></h6>
														<p class="noti-details">No notification yet.<span class="noti-title"></span></p>
													</div>
												</div>
											</a>
										</li>

									</ul>
								</div>
							</div>
						</li>
						<!-- /Notifications -->
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
								<span class="user-img">
									<i class="fa-solid fa-user fa-beat-fade fa-xl" style="color: #5189ec;"></i>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<i class="fa-solid fa-user fa-lg" style="color: #5189ec;"></i>
									</div>
									<div class="user-text">
										<!--Fill here-->	<h6>Patient Name</h6>
									</div>
								</div>
								<a class="dropdown-item" href="doctor-dashboard.html">Profile</a>
								<a class="dropdown-item" href="profile-settings.html">Profile Settings</a>
								<a class="dropdown-item" href="login.html">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->

					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->
		<!-- Page Content -->
		<div class="doctor-content content">
			<div class="container">

				<!-- Doctor Search List -->
				<div class="row">
					<div class="col-xl-12 col-lg-12 map-view">
						<div class="row">

							<div class="col-lg-9">

								<div class="card doctor-card" style="margin-top:25px;">

									<div class="card-body">
										<div class="doctor-widget-one">
											<div class="doc-info-left">
												<div class="doctor-img">
													<a href="doctor-profile.html">
														<img src="~/assets/img/labicon.png" width:"400px" height="300px">
													</a>
													<div class="favourite-btn">
														<a href="javascript:void(0)" class="favourite-icon">
															<i class="fas fa-heart"></i>
														</a>
													</div>
												</div>
												<div class="doc-info-cont">
													<h4 class="doc-name">
														<a href="doctor-profile.html">Lab Name</a>
														<i class="fas fa-circle-check"></i>
													</h4>
													<div class="clinic-details">
														<p class="doc-location">
															<i class="feather-map-pin"></i>
															<span>City</span><a href="javascript:void(0);">Get Direction</a>
														</p>
														<p class="doc-location">
															<i class="feather-award"></i> <span>20</span> Years of Experience
														</p>
													</div>
													<div class="reviews-ratings">
														<p>
															<span><i class="fas fa-star"></i> 4.5</span>
														</p>
													</div>
												</div>
											</div>
											<div class="doc-info-right">
												<div class="clini-infos">
													<ul>
														<li>
															<i class="feather-clock available-icon"></i>
															<span class="available-date available-today">Available</span>
														</li>

													</ul>
												</div>
												<div class="clinic-booking book-appoint" style="margin-top:80px">
													<a class="btn btn-primary" href="booking.html">Book Appointment</a>
												</div>
											</div>
										</div>
									</div>
								</div>



								<div class="row">
									<div class="col-sm-12">
										<div class="blog-pagination rev-page">
											<nav>
												<ul class="pagination justify-content-center">
													<li class="page-item disabled">
														<a class="page-link page-prev" href="#" tabindex="-1"><i class="feather-chevrons-left me-1"></i> PREV</a>
													</li>
													<li class="page-item active">
													</li>
													<li class="page-item">
														<a class="page-link" href="#">NEXTt</a>
													</li>

												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-12 theiaStickySidebar map-right">
						<div id="map" class="map-listing"></div>
					</div>
				</div>
				<!-- /Doctor Search List -->

			</div>
		</div>
		<!-- /Page Content -->
		<!-- Footer -->
		@Html.Partial("/Views/Patient/Footer.cshtml")
		<!-- /Footer -->
		<!-- Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Cursor -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/assets/js/jquery-3.6.4.min.js"></script>

	<!-- Bootstrap Bundle JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="~/assets/js/feather.min.js"></script>

	<!-- Select2 JS -->
	<script src="~/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Jquery UI -->
	<script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6adZVdzTvBpE2yBRK8cDfsss8QXChK0I"></script>
	<script src="~/assets/js/map.js"></script>

	<!-- Custom JS -->
	<script src="~/assets/js/script.js"></script>

</body>
</html>