@model MedAppProject.Models.VMLogin

<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Doccure</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MedAppProject</title>
	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/custom.css">

</head>
<body class="account-page">

	<!-- Main Wrapper -->
	<div class="main-wrapper">


		<!-- /Header -->
		<!-- Page Content -->
		<div class="content top-space">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-8 offset-md-2">

						<!-- Login Tab Content -->
						<div class="account-content">
							<div class="row align-items-center justify-content-center">
								<div class="col-md-7 col-lg-6 login-left">
									<img src="~/Images/doctor.jpg" class="img-fluid" alt="Doccure Login">
								</div>
								<div class="col-md-12 col-lg-6 login-right">
									<div class="login-header">
										<h3 style="color:dodgerblue"><b>Log in</b></h3>
									</div>
									<form asp-Controller="Access" asp-action="Login" method="post">
										<div class="form-group form-focus">
											<input type="text" class="form-control" id="username" asp-for="Email">
											<label class="focus-label">Email or UserName</label>
										</div>
										<div class="form-group form-focus">
											<input type="password" class="form-control" id="password" asp-for="Password">
											<label class="focus-label">Password</label>
										</div>
										<div class="text-danger">@ViewData["ValidateMessage"]</div>
										<div class="text-end">
											<a class="forgot-link" href="forgot-password.html" style="color:dodgerblue">Forgot Password ?</a>
										</div>
										<button class="btn btn-primary w-100 btn-lg login-btn" type="submit" style="background-color:dodgerblue">Login</button>
										<div class="login-or">
											<span class="or-line"></span>

										</div>

										<div class="text-center dont-have">Don’t have an account? <a asp-action="SignUp" asp-controller="Access" style="color:dodgerblue">Register</a></div>
									</form>
								</div>
							</div>
						</div>
						<!-- /Login Tab Content -->

					</div>
				</div>

			</div>

		</div>
		

		<!-- /Page Content -->
		<!-- Footer -->
		<footer class="footer footer-one">
			<div class="footer-top aos" data-aos="fade-up">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-4">
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="assets/img/websiteLogo.png" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Don't waste your time, join MedApp family now and make your life easier.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-4">
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="search.html">Search for Doctors</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="register.html">Register</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-4">
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="appointments.html">Join Us</a></li>
									<li><a href="login.html">Login</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-5">
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">

									<div class="footer-address">
										<p><i class="feather-phone-call"></i> +962 79 5697908</p>
									</div>
									<div class="footer-address mb-0">
										<p><i class="feather-mail"></i> medapp@example.com</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-7">
							<div class="footer-widget">
								<h2 class="footer-title">Have a problem? let us contact you</h2>
								<div class="subscribe-form">
									<form action="#">
										<input type="email" class="form-control" placeholder="Enter Email">
										<button type="submit" class="btn">Submit</button>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
								</div>
							</div>
							<div class="col-md-6 col-lg-6">

								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="terms-condition.html">Terms and Conditions</a></li>
									</ul>
								</div>
								<!-- /Copyright Menu -->

							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
		</footer>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.4.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>